/* menus.css */

/* Menu styles -- overall settings */

.main-menu {
    /*    width: 600px;
        background-color: #DFFFE7;
        font-weight: bold;
        font-style: normal;
        font-size: 100%;*/
}

/* Menu styles -- link text settings */

.main-menu tbody{
    position:fixed;
    top:10px;
    margin-bottom: 10px;
    width:100%;
    z-index:1100;
    font-family: "Century Gothic", CenturyGothic, AppleGothic;
}
.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
    font-weight:bold;
    letter-spacing: 1px;
    color: #009ade;
    margin-right: 30px;
}

.main-menu a:visited {
    color: #009ade;
}

.main-menu a:focus {
    color: #009ade;
}

.main-menu a:hover {
    color: #0088cc;
/*    background-color: #009ade;*/
}

.main-menu a:active {
    color: white;
}

/* Other styles */
.main-menu {
    table {
        /*        font-style: italic;
                font-size: 80%;*/
    }
}
table.main-menu td.tableblock {
    border: 0;
}
