#header {
    height:60px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    max-width:100%;
    z-index:1000;
    background-image:url("../img/logo.png");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-size: 10%;
    background-color:#a8d5ea;


}
.paragraph>.title {
    font-size:24px;
    font-style:  normal;
}
.navbar-nav {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgb(18, 118, 149);
}
#content {
    top:38px;
}
@media only screen and (min-width: 768px) {
    #toc.toc2 {
        top: 60px;
    }
}

.yuml {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-color: rgba(0, 154, 222,.2);
    border-style: solid;
    border-width: 2px;
    margin:5px;
}
